name: Pre-commit

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: Run pre-commit checks
    steps:
      - name: "Check out repository"
        uses: "actions/checkout@v6"

      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.12"

      - name: "Run pre-commit"
        uses: pre-commit/action@v3.0.1
